
@{
    ViewBag.Title = "Accommodations";
}

<div class="box">
    <hr>
    <h2 class="intro-text text-center">Accommodations</h2>
    <hr>
    <p class="text-center"><strong>NOTE: </strong>Due to a number of amateur sporting championships occurring locally on the weekend of the 28th, the available number of rooms in the area is limited.  It is strongly recommended you book a room as early as possible.  </p>
    <p class="text-center">Bev &amp; John have booked a block of rooms at <a href="https://www.google.com/maps/place/DoubleTree+by+Hilton+Hotel+Kansas+City+-+Overland+Park">DoubleTree by Hilton</a>, 10100 College Blvd., Overland Park, KS. An additional block of economically-priced rooms is available at <a href="https://www.google.com/maps/place/Suburban+Extended+Stay,Lenexa+KS" target="_blank">Suburban Extended Stay</a>, 15151 W. 101 Terr., Lenexa, KS.  When booking be sure to mention the Carey wedding.</p>
    <p class="text-center">For more upscale options, or if all available rooms are booked please reference the provided map below for hotels around the venue. Alternatively, the area in and around the West Bottoms is a popular destination for locals desiring no-cost accommodations under bridges or in abandoned buildings, although amenities are often lacking.</p>
    <div class="scale">
        <iframe class="img-full" width="600"
                height="450"
                frameborder="0" style="border:0; width:auto;"
                src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDJYZpiXgLzWC56unK0B4hkKqensi8h5kU&q=Hotels+near+Thompson+Barn,Lenexa+KS" allowfullscreen></iframe>
    </div>
</div>
