@{
    ViewBag.Title = "Bev & John Part 2 | May 28th";
}

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive img-full" src="~/Content/img/img1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="~/Content/img/img2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="~/Content/img/Family.jpg" alt="">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h2 class="brand-before">
                <small>You are cordially invited to attend</small>
            </h2>
            <h1 class="brand-name">Bev &amp; John 2 - The Reweddening!</h1>

        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                What?
                <strong>Another wedding?</strong>
            </h2>
            <hr>
            <img class="img-responsive img-border img-left" src="~/Content/img/WeddingThumb.jpg" alt="">
            <hr class="visible-xs">
            <p>Forty years ago, on May 28th, 1977, Bev and John were married in Grand Blanc, Michigan.  Or were they?  You see, last year John's mother, Milly, revealed a piece of little-known lore that sent the Carey family reeling.</p>
            <p>What the family already knew was that John's father, Jack, the mayor of Grand Blanc, officiated the wedding at a local church.  What Milly revealed, however, was that Jack was outside of his jursdiction, as the church was located outside of the Grand Blanc city limits.</p>
            <p>Setting aside the uncertain marriage and questionable legitimacy of the Carey children, Bev saw this as an opportunity to have a blowout party (and maybe show the kids how the Carey elders do weddings).  So come party with Bev and John, because we don't know how long it will be until they get married again!</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Invitation
            </h2>
            <hr>
            @*<div class="scale">*@
            <div style="width:80%; margin-left: auto; margin-right: auto;">
                <img class="img-responsive img-full" src="~/Content/img/Invitation.jpg" alt="">
            </div>
        </div>
    </div>
</div>
