
@{
    ViewBag.Title = "Things To Do In KC";
}
<div class="box">
    <hr>
    <h2 class="intro-text text-center">By May 11th</h2>
    <hr>
    <br />

    <p class="text-center"><strong>As soon as possible</strong> please submit a photograph of yourself and your partner early in your relationship or at your wedding to be shown in a slideshow.  Please submit photos to <a href=mailto:CareyWeddingPart2@gmail.com>CareyWeddingPart2@gmail.com.</a> </p>

</div>

<div class="box">
    <hr>
    <h2 class="intro-text text-center">What's Happening in KC?</h2>
    <hr>
    <br />

    <h2 class="sub-text text-center">Occurring Daily</h2>
    <hr />
    <p class="sub-text text-center">60-minute Boulevard Brewery <a href="https://www.boulevard.com/visit-us/tours/" target="_blank">Walking Tour</a></p>
    <p class="sub-text text-center"><a href="http://www.unionstation.org/sciencecity" target="_blank">Science City</a> at Union Station</p>
    <p class="sub-text text-center"><a href="http://www.unionstation.org/pompeii/" target="_blank">Pompeii - The Exhibition</a> at Union Station (closes May 29th)</p>
    <p class="sub-text text-center"><a href="https://www.theworldwar.org/explore/exhibitions/current-exhibitions/fields-battle-lands-peace" target="_blank">Fields of Battle, Lands of Peace Photographic Exhibit</a> - National World War I Museum and Memorial</p>
    <p class="sub-text text-center"><a href="https://www.visitsealife.com/kansas-city" target="_blank">Kansas City Aquarium</a></p>
    <p class="sub-text text-center"><a href="https://www.kansascityzoo.org/" target="_blank">Kansas City Zoo</a></p>
    <p class="sub-text text-center"><a href="http://www.kansascitydoubledeckertours.com/" target="_blank">Kansas City Double Decker Tours</a></p>
    <p class="sub-text text-center"><a href="https://www.trumanlibrary.org/" target="_blank">Harry S. Truman Library &amp; Museum</a></p>
    <p class="sub-text text-center"><a href="http://toyandminiaturemuseum.org/" target="_blank">The National Museum of Toys &amp; Miniatures</a> (closed May 29th)</p>
    <p class="sub-text text-center">Live Music at the Blue Room - <a href="https://americanjazzmuseum.org/blueroom" target="_blank">The American Jazz Museum</a></p>
    <p class="sub-text text-center"><a href="https://www.iflyworld.com/kansas-city/" target="_blank">iFly</a> Indoor Skydiving</p>


    @*<h2 class="sub-text text-center">Thursday, May 25th</h2>
        <hr />


        <h2 class="sub-text text-center">Friday, May 26th</h2>
        <hr />*@

    <br />
    <h2 class="sub-text text-center">Saturday, May 27th</h2>
    <hr />
    <p class="sub-text text-center">9:00am - 10:00am: The Original River Market <a href="http://www.kcwalkingtours.com/" target="_blank">Walking Tour</a></p>
    <p class="sub-text text-center">11:00am: The Penguin March - <a href="https://www.kansascityzoo.org/special-events/penguin-march-20/" target="_blank">The Kansas City Zoo</a></p>
    <p class="sub-text text-center">8:00pm: Comedian Gary Owen - <a href="http://www.midlandkc.com/" target="_blank">The Midland</a></p>

    <br />
    <h2 class="sub-text text-center">Monday, May 29th</h2>
    <hr />
    <p class="sub-text text-center">6:15 pm: Kansas City Royals vs. Detroit Tigers - <a href="https://www.google.com/maps/place/Kauffman+Stadium" target="_blank">Kauffman Stadium</a></p>

</div>
