
@{
    ViewBag.Title = "Venue & Schedule";
}

<div class="box">
    <hr>
    <h2 class="intro-text text-center">The Thompson Barn</h2>
    <hr>

    <div class="row image-grid">
        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="~/Content/img/Venue1.jpg" data-lightbox="venue1" data-title="Image courtesy Marissa Cribbs Photography - http://www.marissacribbsphotography.com/">
                    <img src="~/Content/img/Venue1Thumb.jpg" />
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="~/Content/img/Venue2.jpg" data-lightbox="venue2">
                    <img src="~/Content/img/Venue2Thumb.jpg" />
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="~/Content/img/Venue4.jpg" data-lightbox="venue4">
                    <img src="~/Content/img/Venue4Thumb.jpg" />
                </a>
            </div>
        </div>
    </div>

    <div class="row image-grid">
        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="~/Content/img/Venue5.jpg" data-lightbox="venue5">
                    <img src="~/Content/img/Venue5Thumb.jpg" />
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="~/Content/img/Venue7.jpg" data-lightbox="venue7">
                    <img src="~/Content/img/Venue7Thumb.jpg" />
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="thumbnail">
                <a href="~/Content/img/Venue8.jpg" data-lightbox="venue8">
                    <img src="~/Content/img/Venue8Thumb.jpg" />
                </a>
            </div>
        </div>
    </div>


    <div class="scale">
        <iframe class="img-full" width="600"
                height="450"
                frameborder="0" style="border:0; width:auto;"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJYZpiXgLzWC56unK0B4hkKqensi8h5kU&q=Thompson+Barn,Lenexa+KS" allowfullscreen></iframe>
    </div>
</div>

<div class="box">
    <hr>
    <h2 class="intro-text text-center">Schedule</h2>
    <hr>

    <span class="intro-text">4:30 -</span> Cocktails &amp; Seating begins <strong>inside</strong> Thompson Barn.  <br />
    <span class="intro-text">5:00 -</span> Ceremony begins. <br />
    <span class="intro-text">~5:30 -</span> Move downstairs for cocktail reception followed by dinner and dancing. <br />
    <span class="intro-text">~9:45 -</span> Thanks for coming! See you at our next wedding!<br />
</div>

<div class="box">
    <hr>
    <h2 class="intro-text text-center">History</h2>
    <hr>
    <p><strong>NOTE: </strong>This history of the Thompson Barn is courtesy the Lenexa Chamber of Commerce's <a href="http://www.lenexa.com/cms/one.aspx?pageId=6618825" target="_blank">website.</a></p>
    <p>The Lackman-Thompson estate was once home to Margaretha and William Lackman, German immigrants who came to America in 1885. The Lackmans sold their estate to Kansas City horse and mule dealer Frank Thompson in 1908.</p>
    <p>In 1932, the farm’s original barn burned down, which gave Thompson the opportunity to build a new brick barn – the barn that still stands today. The Thompsons’ son, Hugh, sold much of their estate to be developed into Southlake Business Park and bequeathed the remaining land to the Johnson County Community College Foundation.</p>
    <p>The Lackman-Thompson Estate was placed on the Register for Historic Kansas Places – the only structure in Lenexa to receive the honor. In 1996, The JCCC Foundation offered the property to the City of Lenexa to preserve it and put it to good public use. We worked with many partners, including the Kansas State Historical Society, to honor the agreement.</p>
    <p>The original Lackman house now serves as the home of the Lenexa Chamber of Commerce, Convention & Visitor’s Bureau and Economic Development Office. We restored the barn, preserving its historical character and blending it into a new era.</p>
</div>